{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/mountain.png' %}" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>WHAT IS THE TAO?</h5>
          <p>The Tao that can be understood<br>
            is not the eternal, cosmic Tao,<br>
            just as an idea that can be expressed in words<br>
            is not the infinite idea.</p>
          <p>And yet this ineffable Tao<br>
            is the source of all spirit and matter;<br>
            expressing itself,<br>
            it is the mother of all created things.</p>
          <p>Not to desire material things<br>
            is to know the freedom of spirituality;<br>
            and to desire them is to suffer<br>
            the limitations of matter.</p>
          <p>Yet these two things, matter and spirit,<br>
            so different in nature, have the same origin.</p>
          <p>This unity is the mystery of mysteries,<br>
            and the gateway to spirituality.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{% static 'images/mountain.png' %}" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>OPPOSITES</h5>
          <p>When beauty is only a masquerade,<br>
            it is actually ugliness.<br>
            And goodness, if it is not sincere,<br>
            is not really goodness.</p>
          <p>Existence and nonexistence are incompatible.<br>
          The difficult and the easy are mutually opposed.<br>
          The long and the short, the high and the low,<br>
          the loud and soft, the before and after--<br>
          all are opposites.<br>
          Each reveals the other.</p>
          <p>The wise are not conspicuous in their actions<br>
            or given to much talking.<br>
            When troubles arise,<br>
            they are not irritated.</p>
          <p>They produce, but do not hoard,<br>
            They act, but expect no praise,<br>
            They build, but do not dwell therein.</p>
          <p>And because they do not dwell therein,<br>
            they never depart.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{% static 'images/mountain.png' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>RESTRAINT</h5>
          <p>When a ruler is silent on the subject of virtue,<br>
            the people are discouraged from practicing it.<br>
            Meanwhile, a ruler who revels in riches encourages thievery.</p>
          <p>Value virtue over wealth,<br>
            and the people's hearts will be at rest.</p>
          <p>Wise rulers do not accumulate treasures,<br>
            but seek to quiet the hearts of their people.<br>
            They soothe the people's appetites and strengthen their bones.<br>
            They treasure innocence, and protect the simple from the schemes of the clever.</p>
          <p>When a ruler practices restraint, everything will be in place.</p>
        </div>
      </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>THE ETERNAL TAO</h5>
            <p>The Tao seems empty, yet it is never exhausted.</p>
            <p>Oh, it is profound!<br>
            It existed before anything.</p>
            <p>It dulls its own sharpness,<br>
              breaks its own bonds,<br>
              dims its own brightness,<br>
              identifies with its own dust.</p>
            <p>Oh, it is peaceful!<br>
            It is infinite, eternal.</p>
            <p>No one knows from where it came.<br>
            It is older than the gods.</p>
        </div>
      </div>


    <div class="carousel-item">
        <img src="{% static 'images/wall.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>IMPARTIALITY</h5>
            <p>The earth and the stars do not take sides--<br>
            they are impartial.</p>
            <p>They regard all individuals as insignificant,<br>
              as though they were playthings made of straw.</p>
            <p>The wise are also impartial;<br>
            to them all people are equal and alike.</p>
            <p>The space between earth and the stars is like a bellows--<br>
            it is empty but does not collapse;<br>
            as it contracts, it creates.</p>
            <p>Gossips, by contrast, spew out words till they are empty,<br>
              because they are not impartial.</p>
        </div>
      </div>


    <div class="carousel-item">
        <img src="{% static 'images/wall.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>THE SOURCE</h5>
            <p>The Spirit of the perennial spring is said to be immortal.<br>
            She is called the Mysterious One.</p>
            <p>The Mysterious One is the source of the universe.<br>
            She is continually, endlessly giving forth life, without effort.</p>
        </div>
      </div>


    <div class="carousel-item">
        <img src="{% static 'images/palace.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>HUMILITY</h5>
            <p>The universe is eternal, and earth is lasting.</p>
            <p>The reason the universe and earth are eternal and lasting<br>
            is they do not exist for themselves.<br>
            That is why they endure.</p>
            <p>The wise humble themselves--<br>
            and because of their humility, they are worthy of praise.</p>
            <p>They put others first, and so become great.</p>
            <p>They are not focused on outcomes or achievements;<br>
            therefore they always succeed.</p>
        </div>
      </div>


    <div class="carousel-item">
        <img src="{% static 'images/palace.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>GOODNESS</h5>
            <p>True goodness is like water;<br>
            it nurtures everything and harms nothing.<br>
            Like water, it ever seeks the lowest place,<br>
            the place that all others avoid.</p>
            <p>This is the way of the Tao.<br>
            For a dwelling it chooses the quiet meadow;<br>
            for a heart the circling eddy.</p>
            <p>In generosity it is kind;<br>
            in speech it is sincere;<br>
            in power it is order;<br>
            in action it is gentle;<br>
            in movement it is rhythm.</p>
            <p>Because it is always peaceable,<br>
              it soothes and refreshes.</p>
        </div>
      </div>


    <div class="carousel-item">
        <img src="{% static 'images/palace.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>PRUDENCE</h5>
            <p>If you continue filling a pail after it is full,<br>
              the water will be wasted.<br>
            If you continue grinding an axe after it is sharp,<br>
            the edge will wear away.</p>
            <p>Who can protect a house full of gold and jewels?<br>
            Excessive fortune brings about its own misfortune.</p>
            <p>To win true merit--to earn a good reputation--<br>
            you must be prudent.<br>
            This is the way of the Tao.</p>
        </div>
      </div>


    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>LEAD WITHOUT FORCE</h5>
            <p>By patience, you can discipline your desires.<br>
            By self-control, you can develop strong character.<br>
            By practicing gentleness, you can become as a little child.<br>
            By purifying the subconscious, you may become perfect.</p>
            <p>Because wise rulers love the people,<br>
            they lead without using force.</p>
            <p>In measuring out rewards,<br>
            wise rulers act like mother birds.<br>
            While seeing into every corner,<br>
            they are unobtrusive.<br>
            While protecting the people,<br>
            they do not control them.</p>
            <p>They are motherly and fatherly,<br>
            but not domineering.<br>
            They persuade with words, not weapons.<br>
            This is their crowning virtue.</p>
        </div>
      </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>IMMATERIALITY</h5>
            <p>A wheel may have thirty spokes,<br>
            but its usefulness lies in the empty hub.</p>
            <p>A jar is formed from clay,<br>
            but its usefulness lies in the empty center.</p>
            <p>A room is made from four walls,<br>
            but its usefulness lies in the space between.</p>
            <p>Matter is necessary to give form,<br>
            but the value of reality lies in its immateriality.</p>
            <p>Everything that lives has a physical body,<br>
            but the value of a life is measured by the soul.</p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>SEEK THE SPIRIT</h5>
            <p>Too much light blinds the eye;<br>
            too much noise deafens the ear;<br>
            too many spices dull the taste;<br>
            too much exercise weakens the body;<br>
            the pursuit of great riches leads to ruin.</p>
            <p>The wise attend to the inner truth of things<br>
            and are not fooled by outward appearance.<br>
            They ignore matter and seek the spirit.</p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>AVOID EXTREMES</h5>
            <p>Flattery and disgrace are both to be feared,<br>
            just as overeating and starvation<br>
          are both harmful to the body.</p>
          <p>Flattery is fattening to the spirit;<br>
          disgrace is emaciating.</p>
          <p>Over-concern is just as harmful as disregard.<br>
          Treat yourself well, but don't pamper yourself excessively.</p>
          <p>If rulers treat the people in this same way--<br>
          neither too soft nor too hard--<br>
        they are worthy to be trusted with authority.</p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>THE MYSTERIOUS TAO</h5>
            <p>It is unseen because it is colorless;<br>
              it is unheard because it is silent;<br>
              if you try to grasp it, it will elude you,<br>
              because it has no form.</p>
            <p>Because of its dierse qualities it cannot be summarized,<br>
              yet it comprises an essential unity.<br>
              On the surface it appears incomprehensible,<br>
            but in the depths it reveals itself.</p>
            <p>It has been nameless forever!<br>
            It appears and then disappears.<br>
            It is the form of the formless,<br>
            the image of the imageless.</p>
            <p>Its face cannot be seen in front,<br>
            nor its back from behind.<br>
            No one knows where it came from,<br>
            or where it is going.</p>
            <p>Yet, by holding fast to the ancient Tao,<br>
            the wise may grasp the present,
            because they understand the past.</p>
            <p>This is a clue to the Tao.</p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>ANCIENT MASTERS</h5>
            <p>In ancient times, the masters were subtle,<br>
              spiritual, profound, and wise.<br>
              Their thoughts could not be easily understood.</p>
            <p>They were cautious as men wading across a river;<br>
              they were alert as soliders in wartime;<br>
              they were reserved as guests in another's home;<br>
              they were elusive as ice at the point of melting;<br>
              they were lowly as a valley between mountains;<br>
              they were obscure as muddy waters.</p>
            <p>Since they were difficult to understand,<br>
              I will try to make their thoughts clear.</p>
            <p>To clarify muddy waters,<br>
              you must hold them still and let things settle.<br>
              To glimpse the secret of the Tao,<br>
              you must keep still and quiet your mind.</p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>KNOW ETERNITY</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>INVISIBLE LEADERS</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>HYPOCRICY</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>FALSE AND TRUE RELIGION</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>COMMON PEOPLE</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>THE HEART OF THE TAO</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>REDEMPTION</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>PEACE</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>SELF-ASSERTION</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>THE MOTHER OF ALL</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>SELF-MASTERY</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
        <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>HIDDEN VALUES</h5>
            <p></p>
        </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>KNOW YOURSELF</h5>
          <p></p>
      </div>
  </div>

  <div class="carousel-item">
    <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>POWER</h5>
        <p></p>
    </div>
</div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>FIRM BUT NOT FORCEFUL</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>AVOID WAR</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>WHERE TO STOP</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>IMMORTALITY</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>TRUE GREATNESS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>SEEK THE TAO</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PERSUASION</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>STOP STRIVING</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>TRUE VIRTUE</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>UNITY</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>NONEXISTENCE</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>STUDENTS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>YIN AND YANG</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>STILLNESS AND SILENCE</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>TRUE FREEDOM</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PERFECTIONISM</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>CONTENTMENT</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>EXPLORE WITHIN</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>CLEVERNESS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>UNIVERSALITY</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>INVULNERABLE</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PROFOUND VIRTUE</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>THE TAO'S LIGHT</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>THE PLAIN WAY</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>A MODEL FOR OTHERS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>BECOME CHILDLIKE</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>EMBRACE MYSTERY</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>GOOD GOVERNMENT</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>SIMPLE AND SQUARE</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>LIFE WITHOUT LIMITS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>FEARLESS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>SUBMISSION</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>THE SAVING TAO</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>SMALL BEGINNINGS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>ATTEND TO THE END</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PROFOUND SIMPLICITY</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>LEAD FROM BELOW</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>COMPASSION</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>BRING OUT THE BEST</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>KNOW YOUR WEAKNESS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>HIDDEN TREASURE</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>NOT KNOWING</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>ROOM TO BREATHE</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>COURAGE AND CAUTION</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>SHARP TOOLS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>OPPRESSION</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>STAY FLEXIBLE</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>THE USES OF WEALTH</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PARADOXICAL TRUTHS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>AVOID LAWSUITS</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>HAPPY AT HOME</h5>
          <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/wall2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>TRUE WORDS</h5>
          <p></p>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

{% endblock %}