@font-face {
  font-family: 'Gyosho';
  src: url("../fonts/gyosho.ttf") format("truetype");
}

* {
  color: #000;
}

body {
  font-family: Gyosho, "Baskerville Old Face";
  font-size: 1.19vw;
}

img {
  height: 750px;
  width: auto;
  max-width: 100%;
}